#input{

    color: #88b1ff;
}
#title{
  font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.errorTypes{
    color: red;
    font-style: italic;

}


#one{
    display: inline;
}



