<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout_admin}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="/js/addCategory.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="main-content" layout:fragment="main-content">

    <main class="my-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" id="title"><span th:text="#{address.form.title}">Add a New Address </span></div>
                        <div class="card-body">
                                <form action="#" name="my-form"  th:action="@{/admin/address}" th:object="${address}" method="post">

                                <div class="form-group row">
                                    <label for="line1" class="col-md-4 col-form-label text-md-right"><span> Address Type: </span></label>
                                    <div class="form-check form-check-inline">
                                        <ul class="one">
                                            <li th:each="adr : ${addressType.entrySet()}">
                                                <input type="radio" th:field="*{type}" th:value="${adr.key}"/>
                                                <label th:for="${#ids.prev('type')}" th:text="${adr.value}">Address Type</label>
                                            </li>
                                        </ul>
                                        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" th:errorclass="fieldError">Incorrect input </span>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label for="line1" class="col-md-4 col-form-label text-md-right"><span th:text="#{address.form.line1}">Line1: </span></label>
                                    <div class="col-md-6">
                                        <input type="text"  th:field="*{line1}" id="line1" class="form-control" name="line1">
                                        <span th:if="${#fields.hasErrors('line1')}" th:errors="*{line1}" th:errorclass="fieldError" class="errorTypes">Incorrect input </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="line2" class="col-md-4 col-form-label text-md-right"><span th:text="#{address.form.line2}">Line2: </span></label>
                                    <div class="col-md-6">
                                        <input type="text"  th:field="*{line2}" id="line2" class="form-control" name="line2">
                                        <span th:if="${#fields.hasErrors('line2')}" th:errors="*{line2}" th:errorclass="fieldError" class="errorTypes">Incorrect input </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="city" class="col-md-4 col-form-label text-md-right"><span th:text="#{address.form.city}">City: </span></label>
                                    <div class="col-md-6">
                                        <input type="text"  th:field="*{city}" id="city" class="form-control" name="city">
                                        <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" th:errorclass="fieldError" class="errorTypes">Incorrect City </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="state" class="col-md-4 col-form-label text-md-right"><span th:text="#{address.form.state}">State: </span></label>
                                    <div class="col-md-6">
                                        <input type="text"  th:field="*{state}" id="state" class="form-control" name="state">
                                        <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}" th:errorclass="fieldError" class="errorTypes">Incorrect State </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="country" class="col-md-4 col-form-label text-md-right"><span th:text="#{address.form.country}">Country: </span></label>
                                    <div class="col-md-6">
                                        <input type="text"  th:field="*{country}" id="country" class="form-control" name="country">
                                        <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" th:errorclass="fieldError" class="errorTypes">Incorrect Country </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="zip" class="col-md-4 col-form-label text-md-right"><span th:text="#{address.form.zip}">Zip: </span></label>
                                    <div class="col-md-6">
                                        <input type="text"  th:field="*{zip}" id="zip" class="form-control" name="zip">
                                        <span th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}" th:errorclass="fieldError" class="errorTypes">Incorrect zip </span>
                                    </div>
                                </div>




                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        <span th:text="#{address.form.btadd}">Add Address </span>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>
</div>

</body>
</html>